<!--  Breadcumb Area Start  -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/images/bg-img/contacto.jpg)">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h2><a routerLink="./inicio" >Inicio </a> | Contacto</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcumb Area End  -->

<!-- Seccion Iconos -->
<section>
  <div class="container text-center mt-5">   
    <div class="row mt-3 contact-form-title">

      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4"  style="text-align:center;" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="300">            
        <i class="fa fa-phone" aria-hidden="true"></i>
        <h3 class="text-uppercase mb-4">Telefono</h3>
        <p><i aria-hidden="true" ></i><a href="tel:(+604) 444 50 04">(+604) 444 50 04</a></p>
        <p><i aria-hidden="true" ></i><a href="tel:+57 311 630 0216">+57 311 630 0216</a></p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-4 mx-auto mb-4" style="text-align:center;" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="400">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <h3 class="text-uppercase mb-4"> Ubicación </h3>
        <p>Calle 52 # 43-62</p>
        <p>Calle 51 # 43-95</p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" style="text-align:center;" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500"> 
        <i class="fa fa-envelope fa-gradient" aria-hidden="true"></i> 
        <h3 class="text-uppercase mb-4"> E - Mail  </h3>       
        <p><a href="mailto:aspirantesmed@americana.edu.co">aspirantesmed@americana.edu.co</a></p>
        <p><a href="mailto:programasvirtuales@americana.edu.co">programasvirtuales@americana.edu.co</a></p>
      </div>

    </div>
  </div>
</section>
<!-- Fin Seccion Iconos -->

<!-- Contacto y ubicacion -->
<div class="container text-center mt-5"> 
    <div class="row mt-3">
        <div class="col-lg-5 mx-auto mb-4" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="300">            
            <div class="contact-form-title">
                <h3>Ponte en contacto con nosotros</h3>
            </div>
            <form>
                    <div class="col-12">
                        <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="col-12">
                        <input type="email" class="form-control" placeholder="Your Email">
                    </div>
                    <div class="col-12">
                        <textarea name="message" class="form-control" id="Message" cols="30" rows="10" placeholder="Your Message"></textarea>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn arduino-btn"><span></span> Enviar Mensaje</button>
                    </div>   
            </form>                
        </div>

        <div class="col-lg-6 mx-auto mb-4 mapa" style="text-align:center;" data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="500">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15864.494157117404!2d-75.5633152!3d6.2474471!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2f93e6b0e3f00019!2sLa%20Americana%20Medell%C3%ADn!5e0!3m2!1ses-419!2sco!4v1654291657712!5m2!1ses-419!2sco" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div> 
<!-- Fin Contacto y ubicacion -->


