mat-sidenav-container, mat-sidenav-content, mat-sidenav{
    height: 100%;
}

mat-sidenav{
    width: 250px;
}

mat-toolbar{
  background-color: #117493;
  color: rgb(255, 255, 255);
}

mat-sidenav-content{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.arduinoStyle>a{
  margin-left: 20px;
}

.example-icon {
    padding: 0 14px;
  }
  
.example-spacer {
    flex: 1 1 auto;
  }

a {
color: white;
}

