<!-- seccion portada -->
<section  class="arduino-inicio-area" >
    <div id="slider">
        <figure>
            <div class="arduino-slides bg-img" style="background-image: url(assets/images/bg-img/inicioI.jpg);">
                <div class="row h-100 align-items-center">
                    <div class="col-11 col-md-6 col-lg-4">
                        <div class="breadcumb-content">
                            <h2>Arduino</h2>
                            <p>Aprende y diviertete</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="arduino-slides bg-img" style="background-image: url(assets/images/bg-img/inicioII.jpg);">
                <div class="row h-100 align-items-center">
                    <div class="col-11 col-md-6 col-lg-4">
                        <div class="breadcumb-content"> 
                            <p>"Progrmar se trata de un orden de magnitud mayor, medida por cualquier estándar: creatividad conceptual, velocidad, ingenio o habilidad para solucionar problemas. Diviertete y crea"</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="arduino-slides bg-img" style="background-image: url(assets/images/bg-img/inicioI.jpg);">
                <div class="row h-100 align-items-center">
                    <div class="col-11 col-md-6 col-lg-4">
                        <div class="breadcumb-content">
                            <h2>Arduino</h2>
                            <p>Aprende y diviertete</p>
                        </div>                
                    </div>
                </div>
            </div>
        </figure>
    </div>
</section>

<section style="margin-top:70px;">
    <div class="container">
        <div class="row">
          <div class="col-md">
            <h1>Sobre Arduino</h1>
            <hr>
            <h3>Que es Arduino</h3>
            <p>Arduino es una plataforma de hardware libre basada en una placa a partir de la cual se pueden crear objetos electrónicos interactivos, como robots. Así pues, cuando alguien empieza a aprender Arduino, lo que está haciendo es aprender los principios básicos de la programación para diseñar, montar y programar pequeños proyectos de electrónica.</p>
          </div>
          <div class="col-md">
            <img src="assets/images/bg-img/img-inicio-II.jpg" alt="" style="width: 100%;">
          </div>
        </div>
    </div>
</section>
<section style="margin-top:70px;">
    <div class="container">
        <div class="row">   
        <div class="col-md">
            <img src="assets/images/bg-img/img-inicio-II.jpg" alt="" style="width: 100%;">
            </div>     
          <div class="col-md">
            <h3>¿Por qué Arduino?</h3>
            <p>Gracias a su experiencia de usuario simple y accesible, Arduino se ha utilizado en miles de proyectos y aplicaciones diferentes. El software Arduino es fácil de usar para principiantes, pero lo suficientemente flexible para usuarios avanzados</p>
            <p>Los profesores y estudiantes lo utilizan para construir instrumentos científicos de bajo costo, para probar los principios de la química y la física, o para iniciarse en la programación y la robótica.</p>
          </div>
        </div>
    </div>
</section>
<section style="margin-top:70px;">
    <div class="container">
        <h1>Ventajas de utilizar Arduino</h1>
        <hr>
        <br>
        <p>En los últimos años el uso de Arduino a aumentado exponencialmente debido a su legibilidad y facilidad de uso. </p>
        <p style="text-align:center;">Arduino simplifica el proceso de trabajar con microcontroladores, pero ofrece algunas ventajas para profesores, estudiantes y aficionados interesados ​​sobre otros sistemas como:</p><br>        
        <div class="row ">
            <div class="col-md sesVentajas">
                <h4><mat-icon> attach_money</mat-icon><mat-icon>trending_down</mat-icon> Bajo Costo</h4>
                <hr>
                <p> Debido a su bajo coste, Arduino es de mucha utilidad para el proceso de enseñanza-aprendizaje.</p>
              </div>
              <div class="col-md sesVentajas">
                <h4><mat-icon>important_devices</mat-icon> Flexibilidad y Multiplataforma</h4>
                <hr>
                <p>Al ser de código abierto y multiplataforma, se puede trabajar con una gran variedad de plataformas informáticas. </p>
              </div>
              <div class="col-md sesVentajas">
                <h4><mat-icon>dashboard</mat-icon> Facil de Usar</h4>
                <hr>
                <p>Cualquiera puede usarla, aun teniendo pocos conocimientos de programación, electrónica y estos entornos. A cualquier edad, incluso niños.</p>
              </div>
        </div>
        <div class="row ">
            <div class="col-md sesVentajas">
                <h4><mat-icon>code</mat-icon>  Útil para introducir a la programación</h4>
                <hr>
                <p>Introducir Arduino ayudar a mejorar el interés y entendimiento por la programación gracias a su legibilidad y facilidad de uso.</p>
              </div>
              <div class="col-md sesVentajas">
                <h4><mat-icon>developer_mode</mat-icon> Plataforma Abierta o de código abierto</h4>
                <hr>
                <p>Es de código abierto, dando la libertad de ejecutar el programa como desee, por lo que se pueden construir gran cantidad de proyectos.</p>
              </div>
              <div class="col-md sesVentajas">
                <h4><mat-icon>description</mat-icon> Aprender Sobre Gran Variedad de Temas</h4>
                <hr>
                <p>Debido a su fácil uso los profesores y estudiantes lo utilizan para construir instrumentos científicos de bajo costo, para probar los principios de la química y la física, o para iniciarse en la programación y la robótica.</p>
              </div>
        </div>
    </div>
</section>

<br>

<section style="margin-top:70px;">
    <div class="container">
        <h1>Primeros Pasos</h1>
        <hr>
        <br>
        <p style="text-align:center;">Antes de comenzar a controlar Arduino, deberá configurar el software para programar su placa.</p>
        <p style="text-align:center;">También podrá visitar la sección <a href="arduino/listado" class="text-reset">Estoy Aprendiendo</a>, donde encontraras una serie de guías con diversos proyectos desarrollados con Arduino, excelentes para comenzar a aprender y experimentar con la codificación, la electrónica y demás.</p>
        <p style="text-align:center;">Para obtener más información, visite las tarjetas a continuación, donde encontrará instrucciones sobre como instalar y configurar el software de Arduino y obtener conocimientos básicos de programación.</p><br> 

        <div style="border: 1px solid; border-radius: 10px;">
            <br>
            <div class="row" style="margin:0px auto;">
                <div class="col-md-4 mb-5" >
                    <div class="card cardContainer">
                        <img class="card-img-top cardPrimerosPasos" src="assets/images/primeros-pasos/arduinoIDE.jpg" alt="Card arduino IDE">
                        <div class="card-body">                      
                        <p style="font-family: lato,Sans-serif; line-height: 1.8em;font-size: 15px;">
                            Aprende como instalar Arduino IDE
                        </p>
                        <button class="arduino-btn" (click)="exportarGuia('ArduinoIDE')">Leer más</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card cardContainer">
                        <img class="card-img-top cardPrimerosPasos" src="assets/images/primeros-pasos/Funciones.jpg" alt="Card Funciones">
                        <div class="card-body">                      
                        <p style="font-family: lato,Sans-serif; line-height: 1.8em;font-size: 15px;">
                            Aprende sobre las funciones para controlar la placa Arduino como:
                        </p>
                        <ul>
                            <li><strong>Digitales: </strong> <br> digitalRead() //Lectura digital, <br> digitalWrite() //Escritura digital, pinMode()</li>
                            <li><strong>Analógicas: </strong> <br> analogRead() //Lectura analógica, <br> analogReference() // Referencia analógica, <br> analogWrite() //Escritura analógica</li>
                        </ul>
                        <button class="arduino-btn" (click)="exportarGuia('Funciones')">Leer más</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card cardContainer">
                        <img class="card-img-top cardPrimerosPasos" src="assets/images/primeros-pasos/VariablesScope.jpg" alt="Card variables de alcance variable y calificadores">
                        <div class="card-body">                      
                        <p style="font-family: lato,Sans-serif; line-height: 1.8em;font-size: 15px;">
                            Aprende sobre las variables de alcance variable y calificadores:
                        </p>
                        <ul>
                            <li>scope, volatile</li>
                            <li>static, const</li>
                        </ul>
                        <button class="arduino-btn" (click)="exportarGuia('VariableScopeQualifiers')">Leer más</button>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="row justify-content-around">
                <div class="col-md-4 mb-5">
                    <div class="card cardContainer">
                        <img class="card-img-top cardPrimerosPasos" src="assets/images/primeros-pasos/Variables.jpg" alt="Card variables - tipos de datos">
                        <div class="card-body">                      
                        <p style="font-family: lato,Sans-serif; line-height: 1.8em;font-size: 15px;">
                            Aprende variables - tipos de datos y constantes de Arduino.
                        </p>
                        <ul>
                            <li>array, bool, boolean</li>
                            <li>byte, char, double</li>
                            <li>float, int, string</li>
                            <li>String(), void</li>
                        </ul>
                        <button class="arduino-btn" (click)="exportarGuia('Variables')">Leer más</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card cardContainer">
                        <img class="card-img-top cardPrimerosPasos" src="assets/images/primeros-pasos/Estructura.jpg" alt="Card Estructura">
                        <div class="card-body">                      
                        <p style="font-family: lato,Sans-serif; line-height: 1.8em;font-size: 15px;">
                            Aprende sobre estrucura - elementos del código Arduino.
                        </p>
                        <ul>
                            <li>sketch, estructura de control</li>
                            <li>operadores aritmeticos, sintaxis adicional</li>
                            <li>operadores booleanos</li>
                        </ul>
                        <button class="arduino-btn" (click)="exportarGuia('Estructura')">Leer más</button>
                        </div>
                    </div>
                    <br>
                </div>
            </div>       
        </div>
    </div>
</section>

<br>