<footer class="text-center text-muted arduino-footer-area arduino-footer-area ">
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
  
          <div class="col-md-3  mb-4 footer-text">            
            <h4 class="text-uppercase fw-bold mb-4">Americarduino</h4>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perspiciatis expedita temporibus corrupti aperiam fugit aut labore porro ex iure minima quae, veniam, fugiat, doloremque vel. Quam vero sapiente illum.
            </p>            
          </div>
  
          <div class="col-md-6  mb-4 footer-text" style="text-align:center;">
            <h4 class="text-uppercase fw-bold mb-4"> Contacto  </h4>       
            <p><i class="fa fa-home me-3"></i> Medellín </p>
            <p><i class="fa fa-envelope me-3"></i>  <a class="text-reset" href="mailto:comunicacionesmed@coruniamericana.edu.co">comunicacionesmed@coruniamericana.edu.co</a></p>
            <p><i class="fa fa-phone me-3"></i> <a class="text-reset" href="tel:(+604) 444 50 04">(+604) 444 50 04</a></p>  
            <section class="redes-sociales">
              <div class="contenedor">
              <a class="twitter" href="http://www.twitter.com/"><i class="fa fa-twitter"></i></a>
              <a class="facebook" href="http://www.facebook.com/"><i class="fa fa-facebook"></i></a>
              <a class="instagram" href="http://www.instagram.com/"><i class="fa fa-instagram"></i></a>
              </div>
          </section> 
          </div>
  
          <div class="col-md-3  mb-4 footer-text"> 
            <h4 class="text-uppercase fw-bold mb-4"> Navegación </h4>
            <p><a routerLink="./inicio" class="text-reset">Inicio</a></p>
            <p><a routerLink="./listado" class="text-reset">Estoy Aprendiendo</a> </p>
            <p><a routerLink="./contacto" class="text-reset">Contacto</a></p>          
          </div>
        </div>
      </div>
    </section>
  
    <!-- Copyright -->
    <div class="text-center p-4 footer-text">
      <p> © 2022 Copyright</p>
    </div>    
</footer>
  