<div *ngIf="guia == 'ArduinoIDE'">
    <iframe src="assets/PrimerosPasos/Arduino Y Arduino IDE.pdf" frameborder="0" style="width:100%; height:800px;"></iframe>
</div>    
<div *ngIf="guia == 'Funciones'">
    <iframe src="assets/PrimerosPasos/Funciones.pdf" frameborder="0" style="width:100%; height:800px;"></iframe>
</div>    
<div *ngIf="guia == 'VariableScopeQualifiers'">
    <iframe src="assets/PrimerosPasos/Variable Scope & Qualifiers.pdf" frameborder="0" style="width:100%; height:800px;"></iframe>
</div>    
<div *ngIf="guia == 'Variables'">
    <iframe src="assets/PrimerosPasos/Variables - Tipos de datos y constantes de Arduino.pdf" frameborder="0" style="width:100%; height:800px;"></iframe>
</div>    
<div *ngIf="guia == 'Estructura'">
    <iframe src="assets/PrimerosPasos/Estructura.pdf" frameborder="0" style="width:100%; height:800px;"></iframe>
</div>    

